<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="optional_head">
        <title>UK Location Programme</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="DC.subject" scheme="eGMS.IPSV" content="Civil Service"/>
        <meta name="eGMS.accessibility" scheme="eGMS.WCAG10" content="Double-A" />
        <meta name="DC.coverage" content="GB" />
        <meta name="DC.language" scheme="DCTERMS.ISO639-2" content="eng" />
        <meta name="DC.creator" content="Ordnance Survey, http://www.ordnancesurvey.co.uk/contactus" />
        <meta name="DC.publisher" content="Ordnance Survey, Adanac Drive, Southampton, SO16 0AS, 023 8005 5257, customerservices@ordnancesurvey.co.uk" />
        <meta name="DC.title" content="UK Location Programme" />
        <meta name="DC.date" scheme="DCTERMS.W3CDTF" content="2011-04-15" />
        <meta name="description" content="The UK Location Information Infrastructure (UKLII) enables users to search for metadata records using a number of criteria. This is the location component of that service allowing users to search for and is provided by Ordnance Survey." />
        <meta name="keywords" content="ordnance survey,os,uk location programme" />
        <meta name="DC.identifier" scheme="DCTERMS.URI" content="http://vmlin74/inspire/2_4_1_0_latest_pb/" />
        <!-- TO DO: Add final URL -->
        <meta name="copyright" content="Ordnance Survey 2012" />
        <!-- Do not change the order of CSS declaration as it cuase styling issues-->
        <link rel="stylesheet" type="text/css" href="/css/map_search.css" />
<!--        <link rel="stylesheet" type="text/css" href="${c.libraries_base_url}/ext-3.4.0/examples/shared/examples.css" /> -->
	<link rel="stylesheet" type="text/css" href="${c.libraries_base_url}/ext-3.4.0/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="${c.libraries_base_url}/ext-3.4.0/resources/css/xtheme-gray.css" /> <!--! shows on the error dialog box for Step 1 -->
        <link rel="stylesheet" type="text/css" href="/css/global.css" media="screen,projection"/>
        <style type="text/css">
          /* Make sure we don't break the tiles in the map */
          img { max-width: inherit; }
          /* Temp overwrite ext-all.css mess */
          h1 { font-size: 24px; margin-bottom: 10px; }
        </style>
        <!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="ie6.css" media="screen,projection" title="desktop" />
		<![endif]-->
        <script type="text/javascript">
            // <![CDATA[
            document.write('<style type="text/css">#noJS{display:none;}</style>');
            // ]]>
        </script>
        <script src="/scripts/domparser.js" type="text/javascript">
        </script>
        <script src="${c.libraries_base_url}/openlayers-openlayers-85b836d/OpenLayers.js" type="text/javascript">
        </script>
        <script type="text/javascript" src="${c.libraries_base_url}/ext-3.4.0/adapter/ext/ext-base.js">
        </script>
        <script type="text/javascript" src="${c.libraries_base_url}/ext-3.4.0/ext-all.js" >
        </script>
        <script type="text/javascript" src="${c.libraries_base_url}/GeoExt/GeoExt.js" >
        </script>
        <script type="text/javascript" src="/scripts/GetCap.js" >
        </script>
        <script type="text/javascript">
          var CKANEXT_OS_TILES_URL = "${c.tiles_url_ckan}";
          var CKANEXT_OS_WMS_URL = "${c.wms_url_ckan}";
          var CKANEXT_OS_WFS_URL = "${c.wfs_url_ckan}";
          var CKANEXT_OS_PROXY_PATH = "search_proxy";
        </script>
        <script src="/scripts/wmsmap.js?1" type="text/javascript">
        </script>
  </py:def>

  <py:def function="page_title">Map Based Search</py:def>
  <py:def function="body_class">no-sidebar</py:def>


  <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="${h.url_for(controller='ckanext.os.controllers.widgets:SearchWidget',action='index')}">Map based search</a></li>
  </py:match>


  <div py:match="content" class="map-search">
        <div id="main-content">
                <div id="noJS">
                    <p>
                        You do not appear to have JavaScript enabled in your browser.
                    </p>
                    <p>
                        This application requires JavaScript in order to function correctly, so please ensure it is enabled before proceeding.
                    </p>
                </div>

<div id="helplink"><a href="/location/map-based-search" class="newwin" title="Help document">Need help getting started?</a> </div>


            	<form id="searchForm" action="/dataset" method="post">

                <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-4">
                    <fieldset id="fieldset1" class="boxed">
	                    <h2>Step 1 (Optional)</h2>

	                    <p>Locate area of interest</p>
	                    <p><strong>Example:</strong> <em>London or EH99 1SP or 54.58, -5.93</em></p>

                        <label for="searchArea"><span class="offScreen">Search</span></label>

                    	<input type="text" name="searchArea" id="searchArea" onfocus="clearText();" onblur="activateKeyboardDefault();setText();" onkeydown="tabToEnter(event);" value="Place name, postcode or coordinate"/>
                        <div class="search-spinner">&nbsp;</div>

						<input type="button" name="buttonID" id="buttonID" onclick="processQuery();" value="Find" title="Enter a place name, postcode, or latitude, longitude in decimal degrees" class="btn btn-primary button"/>
					  	<label for="selectGaz"><span class="offScreen">Search results</span></label>


					  	<div id="gazContainer" class="clearfix">
						</div>

                    </fieldset>
              </div>
              <div class="col-md-4">
                    <fieldset id="fieldset2" class="boxed">
                            <h2>Step 2</h2>

                            <p>Draw search area &nbsp;<a href="#" data-toggle="tooltip" title="When drawing a search box, if the cursor touches the map frame then the box will disappear.  Please redraw the search box ensuring the cursor remains inside the map frame.">[quick tip]</a></p>

                            <input type="button" name="buttonClearID" id="buttonClearID" value="Clear" onclick="clearBoundingBox()" title="Clear the bounding box" class="btn btn-primary pull-right"  style="margin-left: 8px;"/>

                            <input type="button" name="buttonDrawID" id="buttonDrawID" value="Draw" onclick="drawBoundingBox()" title="Draw a bounding box" class="btn btn-primary pull-right"/>

                            <div id="boundariesWrapper" title="Only available between 1:5M and 1:75K">
                                <input type="checkbox" id="boundaries" name="boundaries" value="boundaries" onclick="checkBoundaries()"  />&nbsp;<label for="boundaries">Display administrative areas</label>
                            </div>

                    </fieldset>
              </div>
              <div class="col-md-4">
                    <fieldset id="fieldset3" class="boxed">
                        <h2>Step 3</h2>

                        <p>Find data for selected area

                          <input type="button" name="buttonSearchID" id="buttonSearchID" value="Submit" onclick="submitBox()" title="Submit the bounding box" class="btn btn-primary pull-right"/>
                        </p>
                 </fieldset>
              </div>
            </div>
            </form>
            <div id="mapwrapper" class="col-md-12">
                <div id="mappanel"></div>
            </div>
        </div>
  </div>

  <xi:include href="../layout.html" />

</html>

