/*
* Global style sheet for eval.
* 
* @author			: Toni Ruckwood
* @version			: 1.0.0 
* @create date		: 15 Apr 2011
* @modified date	: 
*/

/*Global reset*/
* {
	margin: 0;
	padding: 0;
}

/*Failed images to be hidden rather than to be shown as pink */	
.olImageLoadError { 
    visibility: hidden; 
	display: none; 
}	
	
/*Set main bpage properties and centre page*/
BODY {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	background-color: #fff;
	color: #000;
	text-align: left;
	margin: 0;
	padding: 0;
}

/*Message for non JavaScript users*/
#noJS {
	background-color: #f00;
	color: #fff;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	/*width: 100%;
	margin-left: 10%;
	margin-right: 10%;*/
}

#pleasewait {
	background-color: #000;
	border: 2px solid #fff;
	color: #fff;
	padding: 20px 10px 10px 10px;
	width: 20em;
	margin: 10px auto;
	text-align: center; 
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
#pleasewait P {
	font-weight: bold;
}

/*Main page container*/
#wrapper {
	width: auto;
	margin: 0 auto;
	text-align: left;
}

/*Restore paragraph margins*/
P {
	margin: .5em 0;
}

.olControlPanZoom {
  display: block;  
  color: red;
  position: absolute;
  left: 130px;
}

div.olControlScaleLine {
    bottom: 16px;
    right: 3px;
    padding: 5px;
	left: auto;
	color: #666;
	/*hr: #666;*/
} 

/* #info */
div.olControlAttribution {
    font-family: Arial;
	font-size: .70em;
	left: 5px;
	bottom: 3px;
	color: #666;
}

div.olControlMousePosition{
	right: 3px;
	padding: 5px;	
}

div.olControlAttribution {
pointer-events: none;
}
div.olControlAttribution a {
pointer-events: auto;
}


div.olControlScaleLine {
pointer-events: none;
}
div.olControlScaleLine a {
pointer-events: auto;
}


div.olControlMousePosition {
pointer-events: none;
}
div.olControlMousePosition a {
pointer-events: auto;
}

div.olControlLoadingPanel {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-image: url(resources/loading-transparent.gif);	
    background-color: #D2E0F2;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 2px #000000;
    color: #000000;
    display: none;
    font: 12px sans-serif;
    height: 32px;
    margin-left: 50px;
    margin-top: 50px;
	margin-bottom: 50px;
    padding-left: 40px;
    padding-top: 16px;
	padding-bottom: 16px;
    position: relative;
    width: 110px;
}

/* Prevent logos from being displayed and interfering with copyright annotations */
.gx-attribution-image { 
display: none; 
} 

.failedwms-icon {
    background: url('resources/deadwms.gif') no-repeat;
    height: 16px;
    width: 16px;
}

table.popup {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.popup th {
	border-width: 1px;
	padding: 7px;
	border-style: none;
	border-color: gray;
	background-color: rgb(255, 255, 240);
	-moz-border-radius: ;
}
table.popup td {
	border-width: 1px;
	padding: 2px;
	border-style: none;
	border-color: gray;
	background-color: rgb(255, 255, 240);
	-moz-border-radius: ;
}





