/*
* Global style sheet for search.
*
* @author			: Toni Ruckwood, Darryl Alexander
* @version			: 2.4.0.2
* @create date		: 15 Apr 2011
* @modified date	: 27 Apr 2012
*/

/*Global reset*/
/*
* {
	margin: 0;
	padding: 0;
}

/*Failed images to be hidden rather than to be shown as pink */
.olImageLoadError {
    visibility: hidden;
	display: none;
}

/*Set main page properties and centre page*/
/*
BODY {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	background-color: #fff;
	color: #000;
	text-align: center;
}
*/

/*Restore paragraph margins*/
P {
	margin: .5em 0;
	line-height: 1.5;
}

/*Main page container*/
#wrapper {
	width: 940px;
	text-align: left;
}

/*Message for non JavaScript users*/
#noJS {
	background-color: #f00;
	color: #fff;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
}

/*Message for search being processed */
#busy_indicator {
  display: none;
  float: right;
  background: rgb(255,241,168);
  margin-top: 5px;
  z-index: 1000;
  width: 200;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

/*Help link*/
#helplink {
	float: right;
        margin-bottom: 14px;
}

#searchForm FIELDSET {
  /*
	padding: 10px;
	border: 1px solid #999;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  */
	height: 12em;
	margin-bottom: 10px;
}

#fieldset1 {
	margin-right: 10px;
    min-height: 200px;
}

#fieldset2 {
    min-height: 200px;
	margin-right: 10px;
}

#fieldset3 {
    min-height: 200px;
    margin-right: 10px;
}

#searchForm LEGEND {
	font-weight: bold;
	font-size: 1.167em;
	color: #000;
}

.formRow {
	clear: left;
	margin: 10px 0;
}

#searchArea {
/*	border: 1px solid #000; */
	font-family: inherit;
	padding: 4px 5px;
	width: 350px;
}

/*Form buttons*/
#buttonID, #buttonDrawID, #buttonClearID, #buttonSearchID {
	padding: 4px 5px;
/*	border: 1px solid #000; */
/*	background-color: #eee; */
/*	color: #000; */
	cursor: pointer;
}

/*
#buttonID:hover, #buttonID:active, #buttonDrawID:hover, #buttonDrawID:active, #buttonClearID:hover, #buttonClearID:active, #buttonSearchID:hover, #buttonSearchID:active {
  background-color: #cdcdcd;
}
*/

/*Gazetteer search results*/
#searchForm #selectGaz {
	display: none;
}

/*Mapping*/
#mapwrapper {
	/* width: 935px; */
	clear: both;
/*	border: 1px solid #273397; */
	margin-top: 10px;
}
#mappanel {
	/* width: 935px; */
	height: 435px;
}
#mappanel DIV.olControlAttribution {
	font-size: .833em;
	left: 5px;
	bottom: 3px;
	color: #666;
}

/*Elements positioned off screen*/
.offScreen {
	position: absolute;
	left: -9999px;
}

div.olControlScaleLine {
bottom: 16px;
right: 3px;
padding: 5px;
left: auto;
color: #666;
/*hr: #666;*/
}

div.olMousePosition{
right: 3px;
padding: 5px;
}

div.olControlAttribution {
pointer-events: none;
}
div.olControlAttribution a {
pointer-events: auto;
}
div.olControlScaleLine {
pointer-events: none;
}
div.olControlScaleLine a {
pointer-events: auto;
}
div.olControlMousePosition {
pointer-events: none;
}
div.olControlMousePosition a {
pointer-events: auto;
}

em{
    font-style: italic;
    font-weight: normal;
}
strong {
    font-style: normal;
    font-weight: bold;
}

.x-panel-body {
    border-style:none;
}

div.olPopupContent {
display: table-cell;
vertical-align: middle;
padding: 1px;
}

div.olPopup {
padding: 3px;
}

/*Styling for map history buttons; previous, next and fullExtent. All the below
OpenLayers control styles overwrites style.css (default ol style sheet)*/
.previousButtonItemInactive {
	top: 5px;
	left: 5px;
	position: absolute;
	background: url('resources/previous.png');
	width: 24px;
	height: 22px;
}

.nextButtonItemInactive {
	top: 5px;
	left: 53px;
	position: absolute;
	background: url('resources/next.png');
	width: 24px;
	height: 22px;
}

.fullExtentButtonItemInactive {
	top: 5px;
	left: 29px;
	position: absolute;
	background: url('resources/full-extent.png');
	width: 24px;
	height: 22px;
}

/*Styling for Control panel that contains the map history buttons*/
.olControlPanel {
	width: 0px;
	height: 0px;
}

/*Styling for Overview Map Container*/
.olControlOverviewMapContainer {
    position: absolute;
    top: 0px;
    right: 0px;
	height:0px;
}

/*Styling for overview Map*/
.olControlOverviewMap {
	background: none;
	border: none;
	padding: none;
	top: 0px;
	right: 0px;
	height: 0px;
}

/*Styling for Overview Map*/
.olControlOverviewMapElement {
	background: none !important;
	border: none;
	top: 0px;
	right: 0px;
	height: 0px;
}

/*Styling for Overview Map Minimize Button*/
.olControlOverviewMapMinimizeButton {
    height: 18px;
    width: 18px;
    right: 0px;
    top: 10px;
    cursor: pointer;
    background: url('resources/minus.png');
    background-color: none;
}
.olControlOverviewMapMinimizeButton > img {
    display: none;
}
/*Styling for Overview Map Maximize Button*/
.olControlOverviewMapMaximizeButton {
    height: 18px;
    width: 18px;
    right: 0;
    top: 10px;
    cursor: pointer;
    background: url('resources/plus.png');
    background-color: none;
}
.olControlOverviewMapMaximizeButton > img {
    display: none;
}

/*Styling for border around map and overview map*/
.olControlOverviewMapElement > .olMap {
    border-width: 1px;
    border-style: solid;
    border-color: #99BBE8;
}
