label { 
  display: inline;
  font-size: 12px;
 }

div.x-panel { 
  line-height: 12px;
}

body > .x-panel > div > div > div { 
  padding-top: 40px;
}

input#projectionCombo { 
  cursor: pointer;
 }
div.olControlMousePosition.olControlNoSelect { 
  font-size: small; 
  color: #555;
}