// CSS for the search widget for when integrated into CKAN

body.SearchWidget {
  background: #f4f4f4;
}

body.SearchWidget h1 {
  font-size: 32px;
}

fieldset h2 {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  display: block;
}

legend { 
  width: auto;
  border: none;
  margin: 0;
  line-height: 12px;
}

div.map-search p { 
  margin: 0 0 8px;
}

div.map-search label { 
  display: inline;
}

div#boundariesWrapper {
  padding-top: 12px;
}

div.htmltooltip{
  position: absolute; /*leave this and next 3 values alone*/
  z-index: 1000;
  left: -10000px;
  top: -10000px;
  background: #000;
  border: 3px solid #000;
  color: white;
  padding: 3px;
  width: 550px; /*width of tooltip*/
}

div.olMap { 
  line-height: 12px;
}

select#selectGaz { 
  margin-top: 5px;
}