// CSS for the search widget for when integrated into CKAN

legend { 
  width: auto;
  margin: 0;
  border-bottom: none;
  line-height: 12px;
}

fieldset p { 
  margin: 0;
}

div.map-search label { 
  display: inline;
}

div.htmltooltip{
  position: absolute; /*leave this and next 3 values alone*/
  z-index: 1000;
  left: -10000px;
  top: -10000px;
  background: #000;
  border: 3px solid #000;
  color: white;
  padding: 3px;
  width: 550px; /*width of tooltip*/
}

div.olMap { 
  line-height: 12px;
}