/* CSS for the search widget for when integrated into CKAN */

body.SearchWidget h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

fieldset h2 {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  padding-left: 17px;
  padding-bottom: 5px;
  padding-right: 17px;
  margin-left: -17px;
  margin-right: -17px;
  display: block;
}

legend {
  width: auto;
  border: none;
  margin: 0;
  line-height: 12px;
}

div.map-search p {
  margin: 0 0 8px;
}

div.map-search label {
  display: inline;
}

div#boundariesWrapper {
  padding-top: 0px;
}

div.htmltooltip{
  position: absolute; /*leave this and next 3 values alone*/
  z-index: 1000;
  left: -10000px;
  top: -10000px;
  background: #000;
  border: 3px solid #000;
  color: white;
  padding: 3px;
  width: 550px; /*width of tooltip*/
}

div.olMap {
  line-height: 12px;
  font-family:helvetica,tahoma,verdana,sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: black;
}

select#selectGaz {
  margin-top: 5px;
}

#wrapper-thinner {
  width: 935px;
}

#mapwrapper {
  margin-top: 10px;
  -moz-box-shadow: 0px 2px 6px #bbb;
  -webkit-box-shadow: 0px 2px 6px #bbb;
  box-shadow: 0px 2px 6px #bbb;
}

div.olControlMousePosition.olControlNoSelect {
  font-size: small;
  color: #555;
 }

div.olMap div.olControlMousePosition {
  bottom: 4px;
  right: 4px;
}

fieldset.boxed {
  padding: 10px 13px;
}
fieldset.boxed h2 {
  padding-left: 13px;
  padding-right: 13px;
  margin-left: -13px;
  margin-right: -13px;
}

#searchForm .search-spinner {
  width: 20px;
  height: 20px;
  margin-left: -30px;
  margin-right: 10px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
input#searchArea {
  margin-bottom: 0;
}