/* Hide normal menu (which is pushed off bottom anyway) */
#blackbar, #greenbar, #breadcrumbs, .footer {
  display: none;
}


label {
  display: inline;
  font-size: 12px;
 }
 img {
   max-width: inherit !important;
 }

div.x-panel {
  line-height: 12px;
}

body > .x-panel > div > div > div {
  padding-top: 40px;
}

input#projectionCombo {
  cursor: pointer;
 }
div.olControlMousePosition.olControlNoSelect {
  font-size: small;
  color: #555;
}


#thinblackbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  background: #000;
  color: #fff;
  height: 40px;
}
#thinblackbar .container a {
  color: #fff;
}
#thinblackbar .container {
  margin: 0 0 0 0;
}
#thinblackbar .brand {
  margin: 4px 0 0 0;
  background-repeat: no-repeat;
  background-size: 75%;
}


